export(ak_db_connect)
export(chk_missing_nms)
export(colord)
export(dots2char)
export(find_dated_file)
export(fix_utf8)
export(flxtbl_fxn)
export(format_table_csv)
export(is_date_fmt)
export(load_rdat)
export(mask_conf_data)
export(match_col_classes)
export(namefix)
export(neisna)
export(qdf)
export(qdr)
export(read_xl_allsheets)
export(round_df)
export(scol)
export(shortnTab)
export(subset_partial_year)
export(uni)
export(write_csv_list)
importFrom(magrittr,"%>%")
importFrom(lubridate,"year")
importFrom(lubridate,"month")
importFrom(lubridate,"day")
importFrom("stats", "filter")
